extends layout

block content
	div.calendar
		table.event
			tr
				td
					b Description
				td #{event.description}
			tr
				td
					b Begin
				td #{event.begin}
			tr
				td
					b End
				td #{event.end}

		a(href=event.url + '/edit')
			button(type='button') EDIT
		button#del(type='button' data-id=event._id) DELETE
		a(href='/')
			button#back(type='button') BACK
		script(src='/javascripts/main.js')
